<!DOCTYPE html>
<html>
  <head>
    <title>OSKチェッカー</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="title"><a href="/">OSKチェッカー</a></h1>



        <% if user_signed_in? %>
          <div class="user_menu">
            <div class="user_name">
            <%= "ログイン中：#{current_user.nickname}" %>
            </div>
              <%= link_to "マイページ", "/users/#{current_user.id}", class: "button" %>
              <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "button" %>
          </div>
        <% else %>
          <div class="user_menu">
            <div class="user_name">
            <%= "未ログイン" %>
            </div>
              <%= link_to "ログイン", new_user_session_path, class: "button" %>
              <%= link_to "新規登録", new_user_registration_path, class: "button" %>
          </div>
        <% end %>
      </div>


    </header>
    <%= yield %>
  </body>
</html>
